@media only screen and (min-width: 992px) {
    body {
        margin: 0 auto;
        max-width: 75%;

    }

    header, footer  {
        max-width: 100%;
        margin-top: 10px;
        
        
    }


    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        justify-content: center;
    }

    #design-card-1 ,#design-card-2, #design-card-3 {
        max-width: 100%;
        border-radius: 10px;
        text-align: center;
    }

}