@media only screen and (min-width: 768px) and (max-width: 991px){
    body{
        width: 75%;
    }

    header, footer {
        font-size: 12px;
    }

    table {
        font-size: 14px;
        width: 100%;
    }


    #color-sample1 {
        font-size: 40px;
        width: 10%;
        
    }
    
    #color-sample2 {
        font-size: 30px;

    }
    
    #color-sample3 {
        font-size: 20px;

    }
    
    #color-sample4 {
        font-size: 30px;

    }
    
    #color-sample5 {
        font-size: 25px;

    }
    
    #color-sample6 {
        font-size: 20px;

    }
    
    #color-sample7 {
        font-size: 16px;
    }
}