@media only screen and (min-width: 768px) and (max-width: 991px){
    body{
        width: 75%;
    }

    header, footer {
        font-size: 14px;
    }

    table {
        font-size: 1em;
        width: 100%;
    }

    td {
        padding: 10px;
    }

    #color-sample1 {
        font-size: 40px;
        width: 30%;
        
    }
    
    #color-sample2 {
        font-size: 30px;
        width: 30%;
    }
    
    #color-sample3 {
        font-size: 20px;
        width: 30%;
    }
    
    #color-sample4 {
        font-size: 30px;
        width: 30%;
    }
    
    #color-sample5 {
        font-size: 25px;
        width: 30%;
    }
    
    #color-sample6 {
        font-size: 20px;
        width: 30%;
    }
    
    #color-sample7 {
        font-size: 16px;
        width: 30%;
    }
}