body {
    max-width: 100%;
}

  /*--- header ---*/

header, footer{
    width: 100%;
    align-items: center;
    color: white;
    background: linear-gradient(to right,#446468 ,#354f52,#203031, #283536,#1b2122);
    background-color: #283536;
    text-align: left;
    justify-content: center;

}

header {
    font-family: 'Poltawski Nowy', serif;
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: 2fr .5fr .5fr;
    gap: .5rem;
    padding-bottom: .5rem;
}

#bannerdiv {
    display: block;
    width: 100%;
    position:relative;
    background-color: #eee;
    grid-column: span 4;
    margin:0 auto;
}

#bannerdiv h2 {
    font-size: 1rem;
    color: #283536;
    text-align: center;
}

.logo-and-name-container {
    display: flex;
    grid-template-columns: 1fr 1fr;
    grid-column: 1;
    grid-row: 2;
}

.logo-and-name-container .headings {
    grid-column: 2;
    align-self: center;
    justify-content: left;
    font-size: 1rem;
}

header img{
    padding: .5rem;
    max-height: 3.5rem;
    grid-row: 2/3;
    flex: 1;
}

.headings h1 {
    font-size: 1rem;
    margin: 0 auto;
    flex: 1;
}
.headings h2 {
    font-size: .8rem;
    margin: 0 auto;
}

.socials {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.socials img{
    max-width: 1.5rem;
    padding: .3rem;
}

.datetime-holder {
    display: flex;
    justify-content: center;
    grid-row: 3;
    background-color: #283536;
    background-image: linear-gradient(to right,#446468 ,#354f52,#203031, #283536,#1b2122);
    padding-top: .3rem;
    grid-column: 1 / span 4;

}
#datetime {
    text-align: center;
    padding: .5rem;
    width: 90%;
    background-color: #555;
    border: 1px solid rgba(255,255,255,.2);
    font-size: 1rem;
    display: flex;
    justify-content: center;
    color: #eee;
}


nav {
    
    display: block;

}

#hamburgerBtn {
    grid-column: 3/4;
    grid-row: 2/3;
    height: 50%;
    width: 50%;
    margin: 0 auto;
    display: block;
    color: #eee;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

nav ul {
    background-color: #eee;
    display: none;
    margin-top: 0;
    padding-left: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

nav ul li {
    list-style-type: none;
}

nav ul li a{
    font-size: 1rem;
    width: 100%;
    display: block;
    color: #555;
    padding: 1rem;
    border-top: 1px solid rgba(0,0,0,.3);
    text-decoration: none;
}

nav ul li a:hover {
    color: #eee;
    background-color: rgba(0,0,0,.2);
}

nav ul.open {
    display: block;
}

  /*--- main ---*/

main {
    display: grid;
    font-family: 'Montserrat', sans-serif;
    gap: 1rem;
    align-items: center;
    justify-items: center;
}

.card-2, .card-3, .card-4, .card-5, .card-6 {
    background-color: #52796F;
    max-width: 100%;
    height: auto;
    padding: 1rem;
    color: #fff;
    overflow: hidden;
    box-sizing: border-box;
    margin: auto 0;
}

.see-more {
    color: #eee;
    cursor: pointer;
    margin: 0 auto;
}

  /*--- Hero Image ---*/

.card-1{
    position: relative;
}

.card-1 h3 {
    max-width: 100%;
    font-size: 1.8rem;
    position: absolute;
    width: 100%;
    padding-left: 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    color: #354F52;
    font-weight: bold;
}

.card-1 picture.heroimg{
    width: 100%;
}

.card-1 picture.heroimg img{
    width: 100%;
    object-fit: cover;
}

.card-1 div.hero-image-container  button.opt-in {
    position: absolute;
    cursor: pointer;
    bottom: 1rem;
    right: 1rem;
    background-color: #354F52;
    color: #fff;
    font-weight: bold;
    padding: 1.5rem;
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

/*--- Events ---*/

.card-2 h3 {
    text-align: center;
}

#card2p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*--- Weather ---*/

.card-3 {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.weather-container {
    margin: 1rem;
    border-radius: 2rem;
    background-color: #354F52;
    box-shadow: 0 0 10px 5px rgba(0,0,0,.5);
}

.weather-info {
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.weather-image img{
    width: 100%;
}

.weather-info h4 {
    font-size: 2rem;
    margin-left: 1rem;
}

.weather-info-2 {
    text-align: center;
}


/*--- News Release ---*/

.card-4 h3 {
    text-align: center;
    margin-bottom: 0rem;
}

.news-release-container {
    display: flex;
    line-height: 1.2rem;
}


.paragraph-container p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news-release-container picture img{
    display: none;
}



/*--- Spotlight ---*/

.card-5 {
    display: flex;
    flex-direction: column;
}

.spot-info {
    text-align: center;
    font-size: 4vw;
    font-weight: 600;
}

.card-5 img {
    max-width: 100%;
    height: auto;
}

.spot1, .spot2, .spot3 {
    margin-bottom: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 1px 1px 10px black;
}

.spot3 {
    display: none;
}

.card-5 hr {
    color: rgba(255, 255, 255, 0.5);
}

/*--- Join ---*/

.card-6 {
    display: none;
}

.active {
    background-color: rgba(0, 0, 0, 0.4);
    color: #eee;
}

/*--- footer ---*/

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 1.2;
    margin-top: 1rem;
}

footer img {
    padding: 1rem;
    height: 9rem;
}

.divider {
    display: block;
    border: none;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);;
    width: 100%;
    margin-bottom: 1.5rem;
}

.info-1 h4{
    margin-top: 0;
    margin-bottom: .3rem;
    font-size: 1rem;
}

.info-1 p{
    margin-top: 0;
    margin-bottom: .3rem;
    font-size: .8rem;
    
}

.info-2 p{
    font-size: 1rem;
    margin: 1.5rem;
    
}

.info-2 p a{
    color:#eee;
    text-decoration: none;
}


#info-3 h4{
    margin-top:0;
    margin-bottom: .3rem;
    font-size: 1rem;
    
}

#info-3 p{
    font-size: 1rem;
    margin: 0;
}

#info-3-row {
    display: none;
}

#visit-container{
    display: block;
    font-size: .75rem;
}

/******* DISCOVER PAGE *******
****************************/

/*--- main ---*/


.discovery-1, .discovery-2, .discovery-3, .discovery-4, .discovery-5 {
    margin-top: .5rem;
    background-color: #1b2122;
    background-image: linear-gradient(to right,#446468 ,#354f52,#203031, #283536,#1b2122)
}

.discovery-1 img, .discovery-2 img, .discovery-3 img, .discovery-4 img, .discovery-5 img {
    width: 100%;
    object-fit: cover;
}

/******* JOIN PAGE *******
****************************/

/*--- main ---*/

#form-container {
    width: 90%;
}

form fieldset {
    display: block;
    color: #1b2122;
    border-radius: 10px;
    padding: 1rem;
    margin-top: .5rem;
}

form legend {
    padding: 0 2%;
    font-weight: bold;
    color: #1b2122;
}

form label.top, form div{
    display: block;
    width: 100%;
    margin-top: 1rem;

}

form label.top input, textarea {
    box-sizing: border-box;
    display: block;
    padding: .75rem;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    width: 100%;
    margin-top: 2%;
}

form label.top input:required {
    border-left: 4px solid red;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

form label.sbs {
    display: flex;
    margin-top: 2%;
    font-size: 1.1rem;
}

form label.sbs input {
    margin-right: 1rem;
}

form label.sbs{
    font-style: italic;
}

#business {
    border-left: 1px solid rgba(0, 0, 0, 0.4);
}

.NP-info, .bronze-info, .silver-info, .gold-info {
    display: none;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    background-color: #e6e6e6;
}

.NP-info h4, .bronze-info h4, .silver-info h4, .gold-info h4{
    font-size: .75rem;
    margin-left: .5rem;
    margin-bottom: 1rem;
    margin-top: .75rem;
}

.NP-info h5, .bronze-info h5, .silver-info h5, .gold-info h5{
    font-size: .75rem;
    margin-left: .5rem;
    margin-top: 0;
    margin-bottom: 0;
}

.NP-info p, .bronze-info p, .silver-info p, .gold-info p{
    display: block;
    text-align: justify;
    font-size: .75rem;
    padding: .5rem;
    margin-top: 0;
    margin-bottom: 0;
}

.submitBtn {
    margin-top: .5rem;
    cursor: pointer;
    width: 100%;
    color: #ffff;
    border: none;
    background-color: #203031;
    display: block;
    padding: .75rem;
    border-radius: 10px;
    
}
/******* THANK YOU PAGE *******
****************************/

.thank-you-container {
    margin: 1rem;
    display: flex;
    flex-direction: column;

}

.thank-you {
    text-align: center;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.4);
}


/******* DIRECTORY *******
****************************/
.directory {
    display: flex;
    flex-direction: column;
}

.directory h2 {
    margin-top: 0;
    text-align: center;
    
}

.switch-view {
    text-align:center ;
    width: 50%;
    margin: .5rem auto;
}
.switch-view button {
    padding: .75rem;
}

.switch-view button.grid-view span, .switch-view button.list-view span{
    float: left;
    margin-right: .1rem;
    margin-top: .1rem;
}

.card {
    text-align: center;
    margin: .5rem;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.4);
    line-height: 1;
}

.cards .card img {
    object-fit: fill;
    max-width: 380px;
    max-height: 144px;
    width: 100%;
}

.card:nth-child(odd){
    color: white;
    background: linear-gradient(to right,#446468 ,#354f52,#203031, #283536,#1b2122);
}

#cards-list-view {
    display: flex;
    flex-direction: column;
}

#cards-list-view .card {
    margin: 0;
    box-shadow: none;
}

#cards-list-view h2 {
    font-size: 1rem;
    text-align: left;
}

#cards-list-view div {
    text-align: left;
}

#cards-list-view .card img{
    display: none;
}











