@media only screen and (min-width: 62.5rem) {
    body {
        max-width: 100%;
    }

    .header {
        grid-template-columns: repeat(4,1fr);
        align-items: center;
        padding-bottom: 0;
    }


    .banner {
        grid-column: span 5;
    }

    picture {
        grid-column: 1;
        margin-left: 2rem;
    }

    .headings {
        grid-column: span 3;
    }

    .headings h1{
        font-size: 3rem;
    }


    .headings h2{
        font-size: 1.5rem;
    }

    .socials {
        justify-content: center;
        grid-column: 3/4;
    }

    #hamburgerBtn {
        display: none;
    }

    .datetime-holder {
        grid-column: span 4;
        grid-row: 3/4;
    }

    #datetime {
        padding-left: 5rem;
    }


    #primaryNav {
        max-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: none;
        background: linear-gradient(to right,#446468 ,#354f52,#203031, #283536,#1b2122);
    }


    nav ul li {
        padding: 1.2rem;
    }

    
    nav ul li a {
        line-height: 1;
        padding: 1rem;
        border: 1px solid #ffff;
        font-size: 1rem;
        text-align: center;
        border: none;
        color: #ffff;
        font-weight: bold;
    }

    nav ul li a:hover {
        color: #283536;
        background-color: rgba(255,255,255,.5);
    }



    .active {
        color: #ffff;
        background-color: transparent;
        border: 2px solid rgba(255,255,255,.5);
    }

    main {
        margin: 0 auto;
        width: 95%;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        align-items: baseline;
        gap: .5rem;
    }


    .card-1 {
        display: grid;
        align-items: baseline;
        grid-column: 2;
        grid-row: 1 / 3;
        margin: 0;
        height: 100%;
    }

    .card-1 h3{
        width: 98%;
    }

    .card-1 img{
        width: 100%;
        height: 100%;
        grid-row: 1 / 3;
    }

    

    .card-2 {
        display: block;
        align-self: start;
        grid-column: 1;
        grid-row: 1;
        max-width: 100%;
        height: 100%;
        position: unset;
        margin-top: 0;
        margin-bottom: .5rem;
    }



    .card-3 {
        display: block;
        position:unset;
        max-width: 100%;
        height: 100% ;
        grid-column: 1;
        grid-row: 2; 
        padding: 0;
        margin-top: 0;
     }

     .card-3 img {
        width: 100%;
        height: 100%;
     }

    .card-4 {
        margin-top: 0;
        display: block;
        grid-column: 2;
        grid-row: 3;
        padding: 1rem;
        height: 100%;
    }


    .card-5 {
        display: flex;
        grid-column: 3;
        grid-row: 1 / span 3;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
        width: 100%;
        height: 100%;
    }


    .spot3 {
        display: block;
    }

    .spot-info {
        padding-bottom: 2rem;
    }
    
    .spot1 img, .spot2 img, .spot3 img{
        max-width: 100%;
        height: auto;

    }


    .card-6 {
        display: block;
        grid-column: 1;
        grid-row: 3;
        align-self: start;
        margin-top: 0;
        height: 100%;
    }

    #info-3-row{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

}