body {
    font-size: 18px;
    line-height: 1.5;
}

header, nav, main, footer {
    margin: 1.25rem auto;
    max-width: 760px;
}

header, footer {
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-align: center;
    padding: 1.5rem;
    border-radius:  30px;
}

header {
    display: grid;
    gap: 0px;
    grid-template-columns: 1fr 1fr;
    font-size: 1rem;
}

header img {
    max-width: 300px;
    grid-column: 1/2;
    align-self: center;
    filter:drop-shadow(0px 0px 5px #b1b1b1);
    border-radius: 30px;
    
}

header h1 {
    font-size: 2em;
    grid-column: 2/2;
    align-self: center;
    text-align: left;
    filter:drop-shadow(0px 0px 5px #b1b1b1);
}



section {
    font-family: 'Poltawski Nowy', serif;
    margin: 0 auto;
}

.solid {
    margin-bottom: 0;
    padding-bottom: 0;
}


#lastmodified {
    margin: 0;
    color: lightblue;
}

